button {
  background: #cfcdcd;
  border-radius: 3px;
  -moz-border-radius: 3;
  font-weight: 600;
  text-decoration: none;
}

button:hover {
  text-decoration: none;
  background: #d6d7d8;
  cursor: pointer;
}

.hidden{
  display: none;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.red{
  color:red;
}

#Signature{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: small;
}
