<!--
  **NOTE** This is a template for index.html
  It users ejs and htmlWebpackPlugin to generate a different index.html for each environment.
  htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles
  to this file. The generated bundles have has-based filnames,
  so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/.
  For examples of using it with htmlWebpackPlugin
  see https://github.com/jakeetrent.html-webpack-template/blob/master/index.ejs
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <% if(htmlWebpackPlugin.options.trackJSToken) { %>
      <!-- Begin TrackJs -->
      <!-- leaving token empty as I do not want to set up  -->
      <script type="text/javascript">window._trackJs = {token: '<%=htmlWebpackPlugin.options.trackJSToken%>'};</script>
      <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
      <!-- End TrackJs -->
      <% } %>
  <meta charset="UTF-8">
</head>

<body>
  <h1>Signature Generator</h1>
  <table id="SignatureForm">

    <tr>
      <td>First Name</td>
      <td>
        <input type="text" id="FirstNameTextBox" class="required" />
      </td>
    </tr>
    <tr>

      <td>Last Name</td>
      <td>
        <input type="text" id="LastNameTextBox"  class="required"/>
      </td>
    </tr>

    <tr>
      <td>Office</td>
      <td>
        <select name="OfficeSelect" id="OfficeSelect">
          <option value="1">Dublin, Ireland</option>
          <option value="2">London, England</option>
          <option value="3">Tokyo, Japan</option>
        </select>
      </td>
    </tr>

    <tr>
      <td>Telephone</td>
      <td>
        <span id="TelephonePrefix" class="phonePrefix"></span>
        <input type="text" id="TelephoneTextBox" class="phone required" placeholder="Office Extension Number"/>
      </td>
    </tr>

    <tr>
      <td>Mobile</td>
      <td>
        <span id="MobilePrefix" class="phonePrefix"></span>
        <input type="text" id="MobileTextBox" class="phone" placeholder="Optional" />
      </td>
    </tr>

    <tr>
      <td>Job Title</td>
      <td>
        <input type="text" id="JobTitleTextBox" class="phone required"/>
      </td>
    </tr>

    <tr>
      <td>
        <button id="CreateButton">Create</button>
        <button id="ClearButton">Clear</button>
      </td>
      <td></td>
    </tr>
  </table>

  <div id='SignatureDiv' class="hidden">
    <div>Copy and paste the below into your email signature.</div>
    <div id="Signature"></div>
  </div>
</body>

</html>
